{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="row" style="background-color: #808080">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'produto-list' %}">
                    <img src="{% static 'img/iconeJLMY.png' %}" width="86px" alt="" href="{% url 'produto-list' %}" >
                </a>
                
              
                    <div class="d-flex">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"><i class="fs-4 text-dark-emphasis bi bi-box-arrow-right" style="color: #6E0AD6;"></i></a>
                        {% else %}
                            <a class="text-dark-emphasis text-decoration-none px-2" href="{% url 'login' %}"><img src="{% static 'img/User Circle.png' %}" width="24px" alt=""></a>
                            <a class="text-dark-emphasis text-decoration-none px-2" href="{% url 'create-account' %}">Criar conta</i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="row d-flex flex-row" style="height: 90vh;">
        <div class="col-12 container" style="">
            {% block content-inside %}
            {% endblock content-inside %}
            <div class="row d-flex align-items-center p-2" style="background-color: coral">
                <span>&copy;Copyright 2023 &bull; JLMY - Commerce &bull; Todos os direitos reservados</span>
            </div>
        </div>
    </div>
{% endblock content %}